body {
  font-family: Arial;
  background: #111;
  color: white;
  padding: 40px;
}

input, textarea {
  width: 300px;
  padding: 10px;
  margin-top: 10px;
}

textarea {
  height: 150px;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
